@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.top{ background-image: url('http://via.placeholder.com/1286x702'); }
.header_links a{  padding: 0px 5px; }

.top .wrapper{ 
  width: 90%;
  padding-bottom: 35%;
}

header{
  display: flex;
  justify-content: space-between;
}

header a{
  margin-top: 25px;
  color: #fff;
  text-transform: capitalize;
}

nav li{  
  padding: 0px 15px;
  margin-top: 5px; 
}

.header_links a:last-child{
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
}

.subscriptions:after{
  content: '   \f107';
  font-family: FontAwesome;
  font-size: 20px
}

.global{
  text-indent: -9999px;
  display: inline-block;
}

.global::before{
  content: '\f0ac';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  font-size: 30px
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner{
  text-align: center;
  margin-top: 75px;
}

h2{
  text-transform: capitalize;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.banner a{
  background-color: #fff;
  color: #68bce6;
  padding: 18px 44px;
  border-radius: 30px;
  margin-top: 4%;
  font-size: 20px;
  text-transform: capitalize;

}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  freedom section styling starts here
=================================*/ 
.description{ width: 70%;}

.freedom .wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 14% 0;
}

.freedom h3{
  text-transform: capitalize;
  font-size: 70px;
  font-weight: bolder;
  width: 70%;
}

.freedom p{
  text-transform: capitalize;
  line-height: 200%;
  font-size: 20px;
}

.get_started{
  text-transform: capitalize;
  font-size: 20px;
  border-bottom: 1px solid #7c7c7c;
  margin-top: 3%;
  color: #000;
}
.get_started::after{
  content: '  \f105';
  font-family: FontAwesome;
  font-size: 25px;
}
/*=================================
  freedom section styling ends here
=================================*/ 
/*=================================
  articles section styling starts here
=================================*/ 
.articles h4{
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 45px;
}

.articles span{
  text-transform: capitalize;
  font-size: 45px;
  font-weight: lighter;
}

.articles p{
  margin-top: 3%;
  line-height: 150%;
  font-size: 16px;
}

.article_one{
  border: 2px solid #000; 
  display: flex;
  justify-content: space-between;
}


.verticle_articles{ display: flex;  }
.verticle_articles div{
  width: 60%;}

.article_two,.article_three{
  border: 2px solid #000;
  border-top: none;
}

.article_three{ border-left: none; }
.article_two div,.article_three div{ 
  width: 85%;
  padding: 60px 42px ; 
}
 /*=================================
  articles section styling ends here
=================================*/ 





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  