@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.top{ background-image: url('http://via.placeholder.com/1286x702?text=banner'); }
.header_links a{  padding: 0px 5px; }
nav,.sign_in{ margin-top: 15px;}
nav a:hover,.global:hover{ color: #9d18aa; }

.top .wrapper{ 
  width: 90%;
  padding-bottom: 35%;
}

header{
  display: flex;
  justify-content: space-between;
}

header a{
  color: #fff;
  text-transform: capitalize;
}

nav{
  position: absolute;
  left: 11%;
}

nav li{  
  padding: 0px 15px;
  margin-top: 5px; 
}

.header_links a:last-child{
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
}

.subscriptions:after{
  content: '   \f107';
  font-family: FontAwesome;
  font-size: 20px
}

.global{
  text-indent: -9999px;
  display: inline-block;
}

.global::before{
  content: '\f0ac';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  font-size: 30px
}

.header_links a:last-child:hover,.banner a:hover{
  background-color: #9d18aa;
  color: #fff;
}

.menu{  display: none;}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner{
  text-align: center;
  margin-top: 75px;
}

h2{
  text-transform: capitalize;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.banner a{
  padding: 18px 44px;
  border-radius: 30px;
  margin-top: 4%;
  background-color: #fff;
  color: #68bce6;  
  font-size: 20px;
  text-transform: capitalize;
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  blog section styling starts here
=================================*/ 
.description{ width: 70%;}
.left_heading{  width: 90%; }


.blog .wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 14% 0;
}

.blog h3{
  width: 70%;
  text-transform: capitalize;
  font-size: 70px;
  font-weight: bolder;  
}

.blog p,.about_blocks p{
  text-transform: capitalize;
  line-height: 200%;
  font-size: 20px;
  color: #46515b
}

.get_started{
  border-bottom: 2px solid #ccc;
  margin-top: 10%;
  text-transform: capitalize;
  font-size: 20px;  
  color: #000;
}

.get_started::after{
  content: '  \f105';
  font-family: FontAwesome;
  font-size: 25px;
}

.get_started:hover{
  color: #f7bb52;
  font-weight: bolder;
}
/*=================================
  blog section styling ends here
=================================*/ 
/*=================================
  articles section styling starts here
=================================*/ 
.articles .wrapper{ width: 99%;}
.article_one figure{ width: 50%;}
.verticle_articles{ display: flex;  }
.article_one:hover{ color: #9d18aa;}
.article_two:hover{ color: #3eca80;}
.article_three:hover{ color: #526dda;}

.articles h4,.about h3,.features_link{
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 45px;
}

.articles span{
  text-transform: capitalize;
  font-size: 45px;
  font-weight: lighter;
}

.articles p,.features p{
  margin-top: 3%;
  line-height: 150%;
  font-size: 16px;
  color: #46515b
}

.article_one{
  border: 2px solid #000; 
  display: flex;
  justify-content: space-between;
}

.article_one div{ 
  box-sizing: border-box;
  width: 50%;
  padding: 7%;
}

.article_two,.article_three{
  border: 2px solid #000;
  border-top: none;
}

.article_three{ border-left: none; }

.article_two div,.article_three div{
  box-sizing: border-box; 
  padding: 15%; 
}
/*=================================
  articles section styling ends here
=================================*/ 

/*=================================
  feature section styling starts here
=================================*/ 
.features .wrapper{ padding: 16% 0;}
.feature_two,.feature_four,.feature_five{ margin-top: 10%;}
.feature_six{ margin-top: 15%;}
.features li{ flex-basis: 40%;  }

.features h3{
  text-transform: capitalize;
  font-size: 74px;
  font-weight: bolder;
  box-sizing: border-box;
  padding: 0px 20%;
  margin-bottom: 10%;
}

.features ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10%;
}

h5{
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5%;
}

.features_link{
  margin: 0px auto;
  width: 50%;
  padding-left: 15%;
}

.text{
  color: #000;
  border-bottom: 3px solid #000;
}

.text::before{
  padding: 10px;
  content: '\f101';
  font-family: FontAwesome;
  float: right;
  font-size: 40px;
  color: #000;
  position: absolute;
  right: 34%;
}

.text:hover::before{ 
  animation-name: arrow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes arrow{
  0%    {  right: 34%;}
  100%  {  right: 30%;}
} 

.features img:hover,.about img:hover{
  box-shadow: 20px 20px #3eca80;
}
 /*=================================
  feature section styling ends here
=================================*/

/*=================================
  about section styling starts here
=================================*/ 
.about_blocks{  width: 55%; }
.about figure{  width: 35%; }
.about h3{  margin-bottom: 10%; }

.about .wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  position: relative;
}

.about figure img{
  position: absolute;
  width: 40%;
}

.about_blocks div{
  box-sizing: border-box;
  padding: 8%;
}
 /*=================================
  about section styling ends here
=================================*/ 

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer a{ color: #46515b;}
footer div{ width: 20%;}
.wix img{ margin-bottom: 15%; }
.wix p{ margin-bottom: 5%;  }
.links{ margin-top: 10%;}

footer .wrapper{
  width: 81%;
  padding-bottom: 15%;
  display: flex;
  justify-content: space-between;  
}

footer li{
  margin-bottom: 5%;
  display: block;
  text-transform: capitalize; 
}

h6{
  margin-bottom: 10%;
  font-weight: bold;
  text-transform: uppercase;
}

.wix{
  width: 25%;
  color: #46515b;
}

.links li{
  padding: 0px 6px;
  display: inline-block; 
  font-size: 20px;
}

.facebook,.twitter,.google_plus,
.youtube,.pinterest,.instagram,.linked_in{
  text-indent: -9999px;
  display: inline-block;
}

.facebook::before{
  content: '\f09a';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.twitter::before{
  content: '\f099';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.google_plus::before{
  content: '\f0d5';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.youtube::before{
  content: '\f16a';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.pinterest::before{
  content: '\f231';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.instagram::before{
  content: '\f16d';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.linked_in::before{
  content: '\f0e1';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

footer a:hover,.links a:hover{ 
  color: #526dda; 
  font-weight: bold;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .blog .wrapper{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .get_started{
    margin-top: 5%;
  }
  /*=================================
  header section styling starts here
  =================================*/
  nav,.header_links{  display: none;}
  header{  margin: 20px 0;}
  .top{ background-image: none; }
  .top .wrapper{  padding: 0;}

  .banner{ 
    padding-top: 10%; 
    padding-bottom: 30%;
    margin: 0;
    background-image: url('http://via.placeholder.com/700x480?text=banner');
  }

  .menu{
    text-indent: -9999px;
    display: inline-block;
  }

  .menu::before{
    content: '\f0c9';
    font-family: FontAwesome;
    text-indent: 0;
    float: right;
    font-size: 30px;
    color: #000;
  }
  /*=================================
  header section styling starts here
  =================================*/

  /*=================================
  blog section styling starts here
  =================================*/
  .blog .wrapper{ width: 90%;}
  
  .left_heading,.description{  width: 100%;}

  .blog h3{
    width: 100%;
    text-align: center;
    margin-bottom: 5%
  }
  /*=================================
  blog section styling starts here
  =================================*/
  /*=================================
  articles section styling starts here
  =================================*/
  .articles .wrapper{ width: 90%; }
  .article_two,.article_three{ border: none;}
  .verticle_articles{ flex-direction: column;}
  .articles figure{ width: 100%;}   
  .article_two div,.article_three div{ padding: 5% 0; }

  .article_one{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    border: none;
  }

  .article_one div{ 
    width: 100%;
    padding: 5% 0;
  } 
  /*=================================
  articles section styling ends here
  =================================*/
  /*=================================
  features section styling starts here
  =================================*/
  .text::before{  right: 32%;}
  .slides a{padding: 2%;}
  .scroll{  color: #7c7c7c;}
  .active{ color: #46515b;}
  .features_link{ padding: 0;} 
  .features li{ flex-basis: 100%;}
  .features li:not(:first-child){ display: none;}

  .features .wrapper{ 
    width: 90%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .features h3{
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 50px;
  }

  .scroll{
    text-indent: -9999px;
    display: inline-block;
  }

  .slides{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .scroll::before{
    content: '\f111';
    font-family: FontAwesome;
    font-size: 20px;
    text-indent: 0;
    float: right;
  }
  /*=================================
  features section styling starts here
  =================================*/
  /*=================================
  about section styling starts here
  =================================*/
  .about_blocks,.about figure{  width: 100%;  }
  .about div{ padding: 5% 0;}

  .about .wrapper{
    width: 90%;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
  }

  .about figure img{
    position: static;
    width: 100%;
  }
  /*=================================
  about section styling ends here
  =================================*/ 
  /*=================================
  footer section styling ends here
  =================================*/ 
  footer{ display: none;  }
  /*=================================
  footer section styling ends here
  =================================*/ 
  .no_hover{
    pointer-events: none;
  }
}  